.blogCard__card {
  background: #ffffff;
  box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
  border-radius: 16px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}
.blogCard__image {
  width: 200px;
}
.blogCard__image img {
  border-radius: 8px;
}
.blogCard__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 25px;
  width: 225px;
}
.blogCard__title {
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #1f2428;
}
.blogCard__stars {
  display: flex;
  align-items: center;
  margin: 6px 0 14px;
}
.blogCard__desc {
  font-family: "Gilroy";
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #1f2428;
}
.blogCard__date {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-bottom: 10px;
}
.blogCard__date:last-child {
  margin-bottom: 0;
}
.blogCard__date b {
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #1f2428;
}
.blogCard__date span {
  font-family: "Gilroy";
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #1f2428;
}

// Responsive style start

@media (max-width: 1240px) {
  .blogCard__card {
    justify-content: center;
    text-align: center;
  }
  .blogCard__image {
    width: 100%;
  }
  .blogCard__image img {
    object-fit: cover;
  }
  .blogCard__info {
    align-items: center;
    row-gap: 10px;
    width: 100%;
  }
  .blogCard__stars {
    justify-content: center;
  }
  .blogCard__desc {
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .blogCard__card {
    width: 60%;
    margin: 0 auto;
  }
}
@media (max-width: 800px) {
  .blogCard__card {
    width: 100%;
    margin: 0 auto;
  }
}
