* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Gilroy", sans-serif;
}
.p2sh1 {
  width: 90%;
  padding: calc(20px + 25 * (100vw / 1400)) 0 calc(45px + 45 * (100vw / 1400));
  background: linear-gradient(79.63deg, #5b52a3 1.08%, #40b8ea 100%);
  border-radius: 36px;
  margin: 0 auto;
  &__box {
    width: 80%;
    margin: 0 auto;
  }
  &__dir a {
    font-weight: 300;
    font-size: 13px;
    line-height: 14px;
    color: #ffffff;
  }
  &__txt1 {
    font-weight: 800;
    font-size: calc(20px + 28 * (100vw / 1400));
    color: #ffffff;
    margin: 30px 0 10px;
  }
  &__txt2 {
    font-weight: 700;
    font-size: calc(16px + 8 * (100vw / 1400));
    color: #ffffff;
  }
  &__btn {
    margin-top: calc(20px + 20 * (100vw / 1400));
    width: calc(100px + 160 * (100vw / 1400));
    padding: calc(10px + 14 * (100vw / 1400));
    background: linear-gradient(90deg, #00c97b 0%, #00d981 96.96%);
    box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
    border-radius: 36px;
    border: none;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    color: #ffffff;
  }
}
