* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
  font-family: "Gilroy", "Times New Roman", Times, serif;
  font-size: 16px;
}
.accor {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  & > .container > h1 {
    font-weight: 800;
    font-size: calc(20px + 24 * (100vw / 1400));
    color: #1f2428;
    margin-bottom: calc(15px + 15 * (100vw / 1400));
  }
  &__card {
    background: #ffffff;
    box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
    border-radius: 16px;
    padding: 35px;
    display: grid;
    grid-template-columns: 90fr 10fr;
    grid-template-rows: auto;
    min-height: 10px;
  }
  &__quest {
    font-weight: 700;
    font-size: 18px;
    color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    z-index: 1;
  }
  &__arrow {
    color: #01cd7d;
    background-color: transparent;
    font-size: 32px;
    font-weight: 900;
    background-color: #ffffff;
    transform-origin: center;
    z-index: 1;
    align-self: center;
    background-color: transparent;
    transform: rotate(180deg);
  }
  &__ans {
    font-size: 18px;
    color: #222222;
    z-index: 0;
    transform: translate(0, -20px);
    display: none;
  }
}
.accordions {
  padding: 50px 0 100px;
}
