.straxov {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 160px 200px;
  gap: 20px;
  .title-h1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 56px;
    color: #1f2428;
    margin-bottom: 20px;
  }
  &__div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    row-gap: 20px;
    .box {
      height: 80px;
      display: flex;
      align-items: center;
      background: #ffffff;
      box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
      border-radius: 16px;
      padding: 8px 40px;
    }
    .h1 {
      width: 50%;
    }
    .h2 {
      width: 50%;
    }
  }
  &__div1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 20px;
    .box {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #ffffff;
      box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
      border-radius: 16px;
      padding: 8px 40px;
    }
    .h2 {
      width: 135px;
    }
  }
  .h1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #222222;
  }
  .h2 {
    height: 100%;
    padding-left: 30px;
    text-align: left;

    display: flex;
    align-items: center;
    border-left: 1px solid #c0c9d7;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #1f2428;
  }
  .p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #222222;
  }
}

// ======== Media ======== //

@media (max-width: 1536px) {
  .straxov {
    padding: 160px 140px;
    &__div1 {
      .h2 {
        width: 20%;
      }
      .text {
        width: 78%;
      }
      .box {
        padding: 8px 20px;
      }
    }
    .h2 {
      padding-left: 15px;
    }
  }
}
@media (max-width: 1280px) {
  .straxov {
    padding: 120px 100px;
    &__div {
      .box {
        padding: 8px 20px;
      }
      .h2 {
        width: 30%;
      }
      .h1 {
        width: 68%;
      }
    }
    &__div1 {
      .h2 {
        width: 20%;
      }
      .text {
        width: 78%;
      }
      .box {
        padding: 8px 20px;
      }
    }
    .h2 {
      padding-left: 10px;
    }
  }
}
@media (max-width: 1024px) {
  .straxov {
    padding: 100px 80px;
    &__div {
      gap: 15px;
      .box {
        padding: 8px 12px;
      }
    }
    .h2 {
      font-size: 14px;
    }
    .h1 {
      font-size: 16px;
    }
    .p {
      font-size: 12px;
      line-height: 1.2;
    }
    .title-h1 {
      font-size: 34px;
      line-height: 1.2;
    }
  }
}
@media (max-width: 768px) {
  .straxov {
    padding: 80px 60px;
    &__div {
      gap: 15px;
    }
    &__div1 {
      grid-template-columns: 1fr;
      gap: 15px;
    }
    .h2 {
      line-height: 1.2;
      width: 25% !important;
    }
    .h1 {
      line-height: 1.2;
    }
    .title-h1 {
      font-size: 30px;
      line-height: 1.2;
    }
  }
}
@media (max-width: 640px) {
  .straxov {
    padding: 60px 40px;
    .h2 {
      line-height: 1.2;
      width: 25% !important;
    }
    .h1 {
      font-size: 15px;
    }
    .p {
      font-size: 11px;
    }
    &__div {
      .h1 {
        width: 70%;
      }
    }
    &__div1 {
      .text {
        width: 70%;
      }
    }
  }
}
@media (max-width: 425px) {
  .straxov {
    padding: 60px 20px;
    .title-h1 {
      font-size: 28px;
      line-height: 1.2;
    }
    .h1 {
      font-size: 14px;
    }
    .h2 {
      font-size: 12px;
    }
    .p {
      font-size: 10px;
    }
  }
}
