*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.cardlar-blog{
    width: 100%;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    align-items: stretch;
}
