.blog__cards {
  display: grid;
  padding: 130px 0;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1000px) {
  .blog__cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .blog__cards {
    grid-template-columns: 1fr;
  }
}
