* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.button {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.035em;
  color: #359740;
  padding: 10px 30px;
  background: #ffffff;
  border-radius: 8px;
  border: none;
}
.prods {
  margin: 30px 0;
}
.showcase1 {
  background: #eaf1eb;
  // background: url('/assets/images/home_showCase1.png');
  border-radius: 24px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  padding: calc(0px + 50 * (100vw / 1400));
  align-items: center;
  h1 {
    font-weight: 600;
    font-size: calc(28px + 20 * (100vw / 1400));
    letter-spacing: -0.05em;
    color: #1f2533;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 70%;
  }
  p {
    font-weight: 300;
    font-size: calc(12px + 4 * (100vw / 1400));
    color: #1f2533;
    width: 55%;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  &__price {
    display: flex;
    align-items: center;
    gap: calc(10px + 15 * (100vw / 1400));
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    strong {
      font-weight: 600;
      font-size: calc(25px + 18 * (100vw / 1400));
      color: #1f2533;
    }
    del {
      font-weight: 600;
      font-size: 22px;
      color: #70737c;
    }
  }
  &__btn {
    display: flex;
    gap: 12px;
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    button:first-child {
      border: none;
      font-weight: 500;
      font-size: calc(12px + 4 * (100vw / 1400));
      line-height: 178.19%;
      letter-spacing: -0.035em;
      color: #ffffff;
      background: #359740;
      border-radius: 8px;
      padding: 10px 30px;
    }
  }
  & > img {
    grid-row: 1 / 5;
    grid-column: 2 / 3;
    width: 350px;
    height: 400px;
  }
}
.showcase2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  background: rgba(255, 230, 46, 0.09);
  border-radius: 12px;
  margin: 20px 0 40px;
  h1 {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -0.02em;
    color: #1f2533;
  }
  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 178.19%;
    letter-spacing: -0.035em;
    color: #70737c;
    text-align: center;
  }
}
.about {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  & > img {
    max-width: 50%;
  }
  &__txt {
    width: 30%;
    h1 {
      font-weight: 600;
      font-size: 36px;
      letter-spacing: -0.05em;
      color: #1f2533;
    }
    p {
      font-weight: 300;
      font-size: 16px;
      color: #1f2533;
    }
  }
}

@media (max-width: 1024px) {
  .showcase1 {
    h1 {
      width: 100%;
    }
    p {
      width: 100%;
    }
  }
}
@media (max-width: 710px) {
  .showcase1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__price {
      order: 1;
    }
    h1 {
      order: 2;
    }
    & > img {
      order: 3;
      margin: 0 auto;
      width: 220px;
      height: 220px;
    }
    p {
      order: 4;
    }
    &__btn {
      order: 5;
    }
  }
  .about{
    justify-content: center;
    & > img{
      max-width: 100%;
      min-width: 260px;
    }
    &__txt{
      width: 100%;
    }
  }
}
