.home {
  section {
    margin-bottom: 160px;
  }
  .variant_dostavki {
    .table {
      margin-top: 30px;
    }
  }
  .okeyPost h1{
    margin-bottom: 20px;
  }
  .okeyPost p{
    margin-bottom: 50px;
  }
}
