.home {
  section {
    margin-bottom: 160px;
  }
  .slider{
    h1{
      margin-bottom: 40px;
    }
  }
  .variant_dostavki {
    .table {
      margin-top: 30px;
    }
  }
  .okeyPost h1{
    margin-bottom: 20px;
  }
  .okeyPost p{
    margin-bottom: 50px;
  }
  .forSales {
   
    .card_wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 70px;
    
     
    }
    p{
      margin-top: 10px;
    }
    .forSales__button{
      margin-top: 30px;
      display: flex;
      justify-content: start;
      align-items: center;
    }
  }
  .info{
    h1{
      margin-bottom: 20px;
    }
    p{
      margin-bottom: 40px;
    }
    .info-card-wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      gap: 30px;
    }
  }
  .otziv{
    h1{
      margin-bottom: 50px;
    }
    .otziv-crad{
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 30px;
    }
    .otziv__button{
      margin-top: 40px;
      .wrap{
        display: flex;
      justify-content: start;
    }
    }
  }
  .content{
    h1{
      margin-bottom: 12px;
    }
    p{
      margin-bottom: 30px;
    }
  }
}

@media (max-width:1280px){
  .home {
    
    .forSales {
      .card_wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
      }
    }
  }
}

@media (max-width:1024px){
  .home {
    
    .info{
      .info-card-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 30px;
      }
    }
    .otziv{
      h1{
        margin-bottom: 30px;
      }
      .otziv-crad{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 30px;
      }
    }
  }
}
@media (max-width:640px){
  .home {
    
    .forSales {
      .card_wrapper{
        display: grid;
        grid-template-columns:1fr;
        gap: 30px;
      }
    }
    .info{
      .info-card-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 30px;
      }
    }
    .otziv{
      .otziv__button{
        .wrap{
          display: flex;
        justify-content: center;
        }
      }
    }
  }
}