input[type="checkbox"]:checked ~ .modal {
  right: 0;
}

input[type="checkbox"]:checked ~ .navbar {
  .burger {
    display: none;
  }
  .close {
    display: block;
  }
}

.navbar {

  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 40px 0;

  nav {
    width: 60%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    ul {
      display: flex;
      width: 60%;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      li {
        a {
          font-family: "Dubai";
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 30px;
          text-transform: uppercase;
          color: #fff;
        }
        .active {
          padding: 10px 25px;
          background: #ffc600;
          border-radius: 100px;
          
            color: #002b49;
          
        }
      }
    }
    .links {
      display: flex;
      align-items: center;
      img {
        margin-right: 5px;
      }
    }
    .close,
    .burger {
      cursor: pointer;
      transition: all 0.5s ease;
    }
    .close {
      display: none;
    }
  }
}
.modal {
  position: fixed;
  top: 180px;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #002b49;
  overflow-y: auto;
  transition: all 0.5s ease;
  .sidebar {
    padding: 60px 0;
    width: 100%;
    .navbar_wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 60px;
      gap: 100px;
      h1 {
        font-family: "Cormorant";
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 65px;
        text-transform: uppercase;
        color: #ffc600;
        padding-bottom: 30px;
        border-bottom: 2px solid #ffc600;
      }
      ul {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: start;
        list-style: none;
        li {
          a {
            display: inline-block;
            align-items: center;
            font-family: Dubai;
            font-size: 28px;
            font-weight: 400;
            line-height: 47px;
            letter-spacing: 0em;
            text-align: left;
            color: #fff;
          }
        }
      }
    }
    .responsive_navbar {
      margin-top: 60px;
      display: none;
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        li {
          a {
            font-family: "Dubai";
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 30px;
            text-transform: uppercase;
            color: #fff;
          }
          &.active {
            padding: 10px 25px;
            background: #ffc600;
            border-radius: 100px;
            a {
              color: #002b49;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .navbar {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 40px 0;

    nav {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      ul {
        display: none;
        li {
          a {
            font-family: "Dubai";
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 30px;
            text-transform: uppercase;
            color: #fff;
          }
          &.active {
            padding: 10px 25px;
            background: #ffc600;
            border-radius: 100px;
            a {
              color: #002b49;
            }
          }
        }
      }
      .links {

        img {
          margin-right: 5px;
        }
      }
    }
  }
  .modal {
    .sidebar {
      padding: 60px 0;
      .navbar_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 60px;
        gap: 80px;
        h1 {
          font-size: 40px;

          padding-bottom: 30px;
        }
        ul {
          margin-top: 30px;

          li {
            a {
              font-size: 28px;
            }
          }
        }
      }
      .responsive_navbar {
        margin-top: 60px;
        display: block;
        ul {
  
          li {
           
            &.active {
              padding: 10px 25px;
              background: #ffc600;
              border-radius: 100px;
              a {
                color: #002b49;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 640px) {
  .navbar {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 40px 0;
  
    nav {
      width: 20%;
      .links {
        display: flex;
        // flex-direction: column;
        align-items: center;
        img {
          margin-right: 5px;
        }
      }
      .close,
      .burger {
        cursor: pointer;
        transition: all 0.5s ease;
      }
      .close {
        display: none;
      }
    }
  }
  .modal {
    .sidebar {
      padding: 30px 0;
      .navbar_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 60px;
        gap: 100px;
        h1 {
          font-size: 30px;
          line-height: 65px;

          padding-bottom: 20px;
        }
        ul {
          margin-top: 20px;

          li {
            a {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}

@media (max-width:480px){
  .navbar {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 40px 0;
    .logo{
      img{
      width: 200px;

      }
    }
    nav {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      ul {
        display: none;
        li {
          a {
            font-family: "Dubai";
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 30px;
            text-transform: uppercase;
            color: #fff;
          }
          &.active {
            padding: 10px 25px;
            background: #ffc600;
            border-radius: 100px;
            a {
              color: #002b49;
            }
          }
        }
      }
      .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          margin-right: 5px;
        }
      }
    }
  }
  .modal{
  top: 160px;

  }
}