.clientWrapper {
  padding: 80px 0;
}
.clientContainer {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.clientTop {
  width: 840px;
}
.clientTitle {
  font-weight: 800;
  font-size: 40px;
  line-height: 46px;
  color: #1f2428;
}
.clientDesc {
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  color: #1f2428;
  width: 600px;
  margin: 20px 0 30px;
}
.clientBottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 25px;
}
.clientCard {
  width: 340px;
  background: #ffffff;
  box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
  border-radius: 16px;
  padding: 40px 30px;
  transition: all 0.4s ease-in-out;
}
.clientCard:hover {
  box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.2);
}
.clientSubtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #1f2428;
  margin: 30px 0 10px;
}
.clientText {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #1f2428;
}

// Responsive style start

@media (max-width: 1280px) {
  .clientTop {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .clientDesc {
    width: 100%;
  }
  .clientBottom {
    column-gap: 20px;
  }
  .clientCard {
    margin: 0 auto;
    width: 440px;
  }
}

@media (max-width: 992px) {
  .clientContainer {
    max-width: 720px;
  }
  .clientWrapper {
    padding: 0 0 40px;
  }
  .clientTop {
    width: 100%;
  }
  .clientTitle {
    font-size: 30px;
    line-height: 36px;
  }
  .clientDesc {
    font-size: 18px;
    line-height: 22px;
  }
  .clientBottom {
    justify-content: center;
  }
  .clientCard {
    width: 80%;
    text-align: center;
    padding: 30px 20px;
  }
  .clientSubtitle {
    margin: 20px 0 10px;
  }
}

@media (max-width: 768px) {
  .clientContainer {
    max-width: 540px;
  }
  .clientTitle {
    font-size: 24px;
    line-height: 28px;
  }
  .clientDesc {
    font-size: 16px;
    line-height: 22px;
  }
  .clientCard {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .clientContainer {
    max-width: 100%;
  }
}
