.Erkinov{
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    background: linear-gradient(to right bottom, red, blue);
}
.Erkinov h1{
    font-size: 24px;
    color: #fff;
    font-weight: normal;
}
.Erkinov h2{
    user-select: none;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}
.Erkinov p{
    font-weight: normal;
    font-size: 18px;
    color: #fff;
}