* {
  font-family: "Gilroy", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sale {
  
  background: linear-gradient(79.63deg, #5b52a3 1.08%, #40b8ea 100%);
  border-radius: 36px;
  padding: 45px 187px 87px;
  // margin: 0 45px 0 78px;
  //  page 3 da ozgariw
  // width: 90%;  
  margin: 30px auto;

  .sale_main {
    font-weight: 300;
    font-size: 13px;
    color: rgb(255, 255, 255, 0.9);
    cursor: pointer;
  }
  .sale_title {
    margin-top: 29px;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    color: white;
  }
  .sale_info {
    margin-top: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: white;
  }
  .sale_btn {
    margin-top: 40px;
    border: 2px solid #00c97b;
    background: linear-gradient(90deg, #00c97b 0%, #00d981 96.96%);
    box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
    border-radius: 36px;
    padding: 22px 40px;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 17px;
    line-height: 18px;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
      background: transparent;
      color: #00c97b;
      border: 2px solid #00c97b;
    }
  }
}

@media only screen and (max-width: 860px) {
  .sale {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media only screen and (max-width: 788px) {
  .sale {
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media only screen and (max-width: 667px) {
  .sale {
    .sale_title {
      font-size: 38px;
    }
    .sale_info {
      font-size: 18px;
    }
    .sale_btn {
      margin-top: 36px;
      padding: 20px 38px;
      font-size: 15;
    }
  }
}
@media only screen and (max-width: 575px) {
  .sale {
 
    padding-left: 70px;
    padding-right: 70px;
    .sale_main {
      font-size: 11px;
    }
    .sale_title {
      margin-top: 25px;
      font-size: 33px;
    }
    .sale_info {
      font-size: 15px;
    }
    .sale_btn {
      margin-top: 34px;
      padding: 18px 35px;
      font-size: 15px;
    }
  }
}
@media only screen and (max-width: 491px) {
  .sale {
    
    padding-left: 55px;
    padding-right: 55px;

    .sale_title {
      margin-top: 25px;
      font-size: 33px;
    }
    .sale_info {
      font-size: 15px;
    }
    .sale_btn {
      margin-top: 34px;
      padding: 18px 35px;
      font-size: 15px;
    }
  }
}
@media only screen and (max-width: 461px) {
  .sale {
    
    padding-left: 40px;
    padding-right: 40px;

    .sale_title {
      margin-top: 20px;
      font-size: 28px;
    }
    .sale_info {
      font-size: 15px;
    }
    .sale_btn {
      margin-top: 30px;
      padding: 15px 30px;
      font-size: 12px;
    }
  }
}
@media only screen and (max-width: 399px) {
  .sale {
    padding-left: 30px;
    padding-right: 30px;

    .sale_title {
      margin-top: 18px;
      font-size: 25px;
    }
    .sale_info {
      font-size: 13px;
      line-height: 20px;
    }
    .sale_btn {
      margin-top: 25px;
      padding: 13px 28px;
      font-size: 10px;
    }
  }
}

@media only screen and (max-width: 353px) {
  .sale {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;

    .sale_title {
      margin-top: 18px;
      font-size: 22px;
      line-height: 40px;
    }
    .sale_info {
      font-size: 11px;
      line-height: 18px;
    }
    .sale_btn {
      margin-top: 22px;
      padding: 11px 26px;
    }
  }
}
