* {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
.easyToBuy {
  text-align: start;
  padding: 60px 11.25rem;
  &__title {
    h3 {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 800;
      font-size: 44px;
      line-height: 56px;
      margin-bottom: 9px;
      color: #1f2428;
    }
    p {
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 36px;
      margin-bottom: 50px;
      color: #1f2428;
    }
  }
  &__steps {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 80px;
  }
  &__button {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(90deg, #00c97b 0%, #00d981 96.96%);
    padding: 24px 46px 20px;
    box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
    border: none;
    border-radius: 36px;
  }
}

.easyToBuy .card {
  display: flex;
  justify-content: space-between;
  row-gap: 70px;
  column-gap: 100px;
  &__body {
    width: calc(100% - 300px);
  }
  &__header {
    display: flex;
    align-items: center;
  }
  &__number {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 56px;
    color: #01cd7d;
    padding: 12px 0;
    padding-right: 46px;
    border-right: 1px solid #c0c9d7;
  }
  &__title {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    padding-left: 33px;
    max-width: 350px;
    color: #1f2428;
  }
  &__text {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    color: #1f2428;
  }
  &__img {
    display: inline-block;
    width: 300px;
    height: 300px;
    max-width: 80%;
  }
  &__image {
    object-fit: contain;
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 1200px) {
  .easyToBuy {
    margin-bottom: 100px;
    padding: 60px 0;
    width: 95%;
    margin: auto;
    .card {
      flex-direction: column;
      justify-content: center;
      &__body {
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  .easyToBuy {
    .card {
      &__number {
        padding-right: 20px;
      }
      &__title {
        padding-left: 20px;
      }
    }
  }
}

@media (max-width: 300px) {
  .easyToBuy {
    &__title {
      h3 {
        font-size: 30px;
      }
    }
    &__steps {
      gap: 20px;
    }
  }
}
