* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.7s;
  list-style: none;
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 20px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  row-gap: 20px;
}

.col-6 {
  width: 100%;
  max-width: 50%;
  flex: 0 0 50%;
  padding: 0 15px;
}

.col-12 {
  width: 100%;
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0 15px;
}

.card__left-title {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #222222;
}

.card__left-comment {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #222222;
  margin-top: 7px;
}

.card__right-line {
  width: 1px;
  border: 1px solid #c0c9d7;
  height: 64px;
}

.card__right-price {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #1f2428;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 768px) {
  .col-6 {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }
}
