
.currentRow {
  text-decoration: none;
  font-weight: 400;
  text-transform:  uppercase;
  color: #002B49;
  font-size: 15px;
  padding: 1rem;
  b {
    font-weight: 400;
  }
  span {
    color: #A7A8A9;
  }
}
