* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tabs {
  padding: 10px;
  padding: 10px;
  position: relative;
  &__nav {
    display: flex;
    justify-content: start;
    border-bottom: 1px solid #ffc600;
  }
  &__tab {
    background: #002b49;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.01em;
    color: #ffc600;
    border: 1px solid #ffff;
    transition: 0.5s;
  }
  &__content {
    padding: 25px 0;
    display: none;
  }
  .active {
    display: block;
  }
  .activeTab {
    background: #ffc600;
    color: #ffffff;
  }
  &__title1 {
    font-weight: 300;
    font-size: calc(15px + 21 * (100vw / 1400));
    line-height: calc(20px + 30 * (100vw / 1400));
    color: #002b49;
  }
  &__img {
    box-sizing: border-box;
    width: 100%;
  }
  &__txt {
    font-weight: 400;
    font-size: calc(10px + 8 * (100vw / 1400));
    line-height: calc(18px + 10 * (100vw / 1400));
    color: #59595c;
    margin: 20px 0;
  }
  &__title2 {
    font-weight: 700;
    font-size: calc(15px + 21 * (100vw / 1400));
    color: #002b49;
    margin-bottom: 10px;
  }
  &__list {
    margin-left: 30px;
    font-weight: 400;
    font-size: calc(10px + 8 * (100vw / 1400));
    line-height: calc(18px + 10 * (100vw / 1400));
    align-items: center;
    color: #59595c;
  }
}
@media (max-width: 600px) {
  .tabs {
    &__nav {
      flex-wrap: wrap;
    }
    &__tab {
      min-width: 100%;
    }
  }
}
