@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    font-family: 'Roboto', sans-serif;
}
.section2-page1{
    margin: 0 auto;
    width: 100%;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 160px;
    .box{
        width: 100%;
        margin: 0px auto;
        background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
        border-radius: 36px;
        padding: 38px 150px;
        display: flex;
        align-items: center;
        gap: 75px;
        .text{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            h1{
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 40px;
                color: #FFFFFF;
            }
            p{
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 30px;
                color: #FFFFFF;
            }
            
        }
    }
    .okeyPost{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        padding: 0px 150px;
        .text{
            display: flex;
            flex-direction: column;
            gap: 20px;
            h1{
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 800;
                font-size: 44px;
                line-height: 56px;
                color: #1F2428;
            }
            p{
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 36px;
                color: #1F2428;
            }
        }
        .card{
            padding: 45px 30px;
            background: #FFFFFF;
            box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
            border-radius: 16px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            ::-webkit-scrollbar{
                display: none; 
            }
            &-grid{
                width: 100%;
                display: grid;
                overflow-x: scroll;
                justify-content: space-between;
                grid-template-columns: repeat(5, 240px);
                gap: 25px;
                .box2{
                    border-bottom: 1px solid #222222;
                    h3{
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 18px;
                        color: #222222;
                    }
                    h4{
                        font-family: 'Roboto', sans-serif;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 16px;
                        color: #222222;


                        display: flex;
                        align-items: center;
                        gap: 7px;
                    }
                    .div{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 15px 0;
                    }
                }
            }
        }

    }
    &__button{
        margin-top: 20px;
        width: 240px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;

        background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
        box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
        border-radius: 36px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 18px;
        color: #FFFFFF !important;
    }
}

@media(max-width: 1850px){
    .section2-page1{
        width: 100%;
        gap: 120px;
        .box{
            padding: 30px 120px;
            br{
                display: none;
            }
            width: 100%;
        }
        .okeyPost{
            padding: 0px 120px;
            width: 100%;
        }
    }
}

@media(max-width: 1200px){
    .section2-page1{
        .box{
            padding: 30px 50px;
            gap: 50px;
            .text{
                h1{
                    font-size: 24px;
                    line-height: 30px;
                }
                p{
                    font-size: 15px;
                    line-height: 24px;
                }
            }
            img{width: 300px;}
        }
        .okeyPost{
            padding: 0 50px;
            .text{
                h1{
                    font-size: 34px;
                    line-height: 44px;
                }
                p{
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }
    }
}

@media(max-width: 900px){
    br{
        display: none;
    }
    .section2-page1{
        padding: 80px 30px;
        gap: 80px;
        .box{
            padding: 20px 30px;
            gap: 30px;
            .text{
                order: 1;
                h1{
                    font-size: 22px;
                    line-height: 28px;
                }
                p{
                    font-size: 14px;
                    line-height: 20px;
                }
            }
            img{
                width: 200px;
            }
        }
        .okeyPost{
            padding: 0 30px;
            .text{
                h1{
                    font-size: 30px;
                    line-height: 40px;
                }
                p{
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}
@media (max-width: 600px){
    .section2-page1{
        padding: 60px 15px;
        gap: 60px;
        .box{
            flex-direction: column;
            padding: 20px 30px;
            gap: 0;
            position: relative;
            img{
                
                position: absolute;
                order: 2;
                left: 50%;
                width: 48%;
                z-index: 0;
                top: 50%;
                transform: translateY(-50%) translateX(-50%);
            }
            .text{
                z-index: 1;
                align-items: center;
                text-align: center;
                order: 1;
            }
        }
        .okeyPost{
            gap: 40px;
            .text{
                h1{font-size: 24px; line-height: 32px;}
                p{font-size: 14px; line-height: 20px;}
            }
        }
    }
}
@media(max-width: 400px){
    .section2-page1{
        .box{
            img{
                width: 60%;
                top: 60%;
            }
            .text{
                width: 100%;
                a{width: 90%;}
            }
        }
        .okeyPost{
            .card{
                a{
                    width: 100%;
                }
            }
        }
        &__button{
            font-size: 16px;
            height: 60px;
            width: 100%;
        }
    }
}
