@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
   font-size: unset;
}

.table {
   font-family: "Lato", sans-serif;
   &__row {
      position: relative;
      display: grid;
      grid-template-columns: 8fr repeat(3, 2.5fr) 1fr;
      align-items: center;
      box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
      border-radius: 16px;
      padding: 20px;
      row-gap: 1.2rem;
      background-color: #fff;
      z-index: 1;

      @media (max-width: 1155px) {
         grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: 450px) {
         grid-template-columns: repeat(1, 1fr);
      }
   }

   &__title {
      display: flex;
      align-items: center;
      gap: 27px;
      font-size: 18px !important;
      line-height: 24px;
      text-transform: uppercase;
      @media (max-width: 1080px) {
         font-size: 16px;
         padding-right: 10px;
      }

      @media (max-width: 1155px) {
         grid-column: 1/6;
         justify-content: center;
         width: 100%;
         text-align: center;
      }

      @media (max-width: 550px) {
         flex-direction: column;
      }
      @media (max-width: 450px) {
         grid-column: 1/2;
      }
   }

   &__data {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;

      &-label {
         font-size: 14px;
         line-height: 18px;
         color: #222222;
      }

      &-text {
         font-weight: 700;
         font-size: 20px;
         line-height: 16px;
         color: #222222;
         margin-top: 6px;
         text-align: center;
      }

      &-info {
         display: inline-flex;
         align-items: flex-end;
         gap: 10px;
         line-break: unset;
      }

      &:last-child {
         padding: 16px;
         padding-right: 0;
         @media (max-width: 1155px) {
            grid-column: 1/6;
            text-align: center;
            width: 100%;
         }
         @media (max-width: 450px) {
            grid-column: 1/2;
         }
      }

      &::before {
         content: "";
         display: inline-block;
         position: absolute;
         left: 0;
         top: 50%;
         transform: translateY(-50%);
         height: 50px;
         width: 1px;
         background-color: #c0c9d7;

         @media (max-width: 1155px) {
            display: none;
         }
      }

      @media (max-width: 1155px) {
         text-align: center;
      }

      @media (max-width: 710px) {
         padding: 10px;
      }
   }

   &__btn {
      display: inline-block;
      cursor: pointer;
      transition: 0.5s;

      &.table__btn--rotated {
         transform: rotate(180deg);
      }
   }

   .drop {
      font-family: "Lato", sans-serif;
      background-color: rgba(129, 129, 129, 0.181);
      margin-bottom: 1rem;

      margin-top: -30px;

      border-radius: 0 0 20px 20px;
      max-height: 30px;
      overflow: hidden;
      transition: 0.5s ease all;

      &.drop--show {
         padding: 1.5rem;
         max-height: 400px;
         padding-top: 2rem;
      }

      &__title {
         margin-top: 0.5rem;
         margin-bottom: 0.5rem;
         text-align: center;
         padding-top: 30px;
         font-size: 18px;
      }

      &__text {
         font-size: 16px;
      }
   }
}
