.tb-h1 {
  font-weight: 800;
  font-size: 34px;
  line-height: 56px;
  /* or 127% */

  /* 1 */

  color: #1f2428;
}

.tb-img {
  width: 100%;
}
.container {
  margin:auto 10%;
}
.row {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.tb-h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* or 120% */
  margin-top: 15px;
  text-transform: uppercase;

  /* 1 */

  color: #1f2428;
}
.tb-p {
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  /* or 188% */
  margin-top: 10px;
  /* 1 */

  color: #1f2428;
}
.tb-p span {
  color: #01cd7d;
}

.tb-h3 {
  margin-top: 50px;
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
  /* or 180% */

  /* 1 */

  color: #1f2428;
}

.tb-btn {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  /* or 106% */
  padding: 20px 40px;
  text-align: center;
  border: none;
  margin-top: 30px;
  background: linear-gradient(90deg, #00c97b 0%, #00d981 96.96%);
  box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
  border-radius: 36px;
  color: #ffffff;
}

@media (max-width:767px) {
  .row {
    flex-wrap: wrap;
  }
  .tb-img {
    width: 50%;
  }
  .col-lg-3 {
    width: 100%;
    text-align: center;
  }
}