

.title{
    width: 50%;
    margin: 50px 0;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
    justify-content: space-between;

    .card{
        width: 620px;
        border: 1px solid;
        // margin: 0 auto;
    }
}

/*********************************  MEDIA  *****************************************/

@media(max-width: 1890px){
    .cards{
        .card{
            width: 500px;
        }
    }
}
@media(max-width: 1650px){
    .cards{
        .card{
            width: 440px;
        }
    }
}
@media(max-width: 1540px){
    .cards{
        .card{
            width: 400px;
        }
    }
}
@media(max-width: 970px){
    .cards{
        .card{
            width: 350px;
        }
    }
}
@media(max-width: 870px){
    .cards{
        display: block;
        .card{
            width: 550px;
            margin: 10px auto;
        }
    }
}
@media(max-width: 630px){
    .cards{
        .card{
            width: 300px;
        }
    }
}
@media(max-width: 340px){
    .cards{
        .card{
            width: 250px;
        }
    }
}