.uslugi-sklada{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 0px;
    gap: 20px;
    .title-h1{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 44px;
        line-height: 56px;
        color: #1F2428;
        margin-bottom: 20px;
    }
    &__div{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 20px;
        .box{
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #FFFFFF;
            box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
            border-radius: 16px;
            padding: 8px 40px;
            
        }
        .h2{
            width: 135px;
        }
    }
    &__div1{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        .box{
            background: #FFFFFF;
            box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
            border-radius: 16px;

            height: 105px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 8px 40px;
            .text{
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: left;
                gap: 5px;
            }
        }
        .h2{
            width: 310px;
        }
    }
    .h1{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 16px;
        color: #222222;
    }
    .h2{
        height: 100%;
        padding-left: 30px;
        text-align: left;

        display: flex;
        align-items: center;
        border-left: 1px solid #C0C9D7;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: #1F2428;
    }
    .p{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #222222;
        
    }
}



// ======== Media ======== //

@media (max-width: 1536px){
    .uslugi-sklada{
        padding: 0 0px;
        &__div1{
            .h2{
                width: 20%;
            }
            .text{
                width: 78%;
            }
            .box{
                padding: 8px 20px;
            }
        }
        .h2{
            padding-left: 15px;
        }
    }
}
@media (max-width: 1280px){
    
    .uslugi-sklada{
        padding: 0 0px;
        &__div{
            .box{
                padding: 8px 20px;
            }
            .h2{
                width: 30%;
            }
            .h1{
                width: 68%;
            }
        }
        &__div1{
            .h2{
                width: 20%;
            }
            .text{
                width: 78%;
            }
            .box{
                padding: 8px 20px;
            }
        }
        .h2{
            padding-left: 10px;
        }
    }
}
@media (max-width: 1024px){
    .uslugi-sklada{
        padding: 0 0px;
        &__div{
            gap: 15px;
            .box{
                padding: 8px 12px;
            }
            
        }
        .h2{
            font-size: 14px;
        }
        .h1{font-size: 16px;}
        .p{font-size: 12px;line-height: 1.2;}
        .title-h1{font-size: 34px; line-height: 1.2;}
    }
}
@media (max-width: 768px){
    .uslugi-sklada{
        padding: 0 0px;
        &__div{
            grid-template-columns: 1fr;
            gap: 15px;
        }
        &__div1{
            gap: 15px;
        }
        .h2{
            line-height: 1.2;
            width: 25% !important;
        }
        .h1{
            line-height: 1.2;
        }
        .title-h1{font-size: 30px; line-height: 1.2;}

    }
}
@media (max-width: 640px){
    .uslugi-sklada{
        padding: 0 0px;
        .h2{
            line-height: 1.2;
            width: 25% !important;
        }
        .h1{
            font-size: 15px;
        }
        .p{
            font-size: 11px;
        }
        &__div{
            .h1{
                width: 70%;
            }
        }
        &__div1{
            .text{
                width: 70%;
            }
        }

    }
}
@media(max-width: 490px){
    .uslugi-sklada{
        &__div1{
            .h2{
                width: 30% !important;
            }
        }
    }
}
@media (max-width: 425px){
    .uslugi-sklada{
        padding: 0 0px;
        .title-h1{font-size: 28px; line-height: 1.2;}
        .h1{
            font-size: 14px;
        }
        .h2{
            font-size: 12px;
        }
        .p{
            font-size: 10px;
        }
    }
}