.container {
  overflow-x: auto;
  max-width: 1000vh;
}

table {
  font-size: 16px;
  border-collapse: collapse;
  border: none;
  width: 1150px;
  overflow-x: scroll;
  //   table-layout: fixed;
  thead {
    background-color: #002b49;
    tr {
      white-space: nowrap;
      th {
        text-transform: uppercase;
        text-align: center;
        color: #ffc600;
        padding: 5px 20px;
        width: calc(50% / 3);
        &:nth-child(1) {
          width: 35%;
        }

      }
    }
  }
  tbody {
    tr {
      white-space: wrap;
      td {
        text-align: center;
        color: #002b49;
        width: calc(50% / 3);
        padding: 5px 20px;
        &:nth-child(1) {
          width: 35%;
          text-align: start;
        }
      }
    }
    &:nth-child(2n) {
      background-color: #bababe;
    }
  }
}
